body{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
}

header{
    background-color: #9932cc;
    padding: 10px 0px 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
}

header p{
    padding: 5px 40px 5px 0px;
    margin: 0px 70px 5px 0px;
}

.columns{
    display: flex;
    flex-direction: row;
    min-height: 95vh;
}

nav{
    background-color: white;
    margin: 25px 10px 0px 10px;
}

nav .user {
    padding: 10px 40px 10px 10px;
}

nav .user a {
    display: flex;
    -ms-flex-align: center;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

nav .user a p{
    margin: 0px 0px 0px 5px;
    font-size: 13px;
    padding: 0px;
}

nav .user a i{
    font-size: 25px;
}

nav .user:hover{
    background-color: #faf7f7;;
    box-shadow: 0 4px 8px rgba(132, 148, 165, 0.3);
    border-radius: 5px;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

nav .list ul {
    margin-top: 20px;
    padding: 0px;
    list-style-type: none;
}

nav .list li {
    background-color: #9932cc;
    padding: 5px 40px 5px 10px;
    margin: 0px 0px 5px 0px;
    box-shadow: 0 4px 8px rgba(132, 148, 165, 0.3);
    border-radius: 5px;
}

nav .list li a {
    text-decoration: none;
    color: #fff;
}

nav .list li:hover {
    background-color: #2980b9;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0px;
    padding: 0px;
}
